body{
    margin: 0;
    padding: 0;
    z-index: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.firstpage{
    height: 100vh;
    background-color: white;
}

.title{
    z-index: 15;
    font-size: 3.5vh;
    margin-top: 2vw;
    margin-left: 3vw;
    position: fixed;
    color:gray;
}

h1{
    font-size: 4vw; 
    color:gray;
    font-weight: normal;
}

.menu-btn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 94vw;
    padding-top: 20px;
    z-index: 120;
}

.menu-btn_burger{
    width: 40px;
    height: 2.5px;
    background: gray;
    transition: all .3s ease-in-out;
    color: gray;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    height: 2.5px;
    background: gray;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-10px);
    width: 20px;
    text-align: right;
}

.menu-btn_burger::after{
    transform: translateY(10px);
    width: 20px;
    margin-left: 25%;
}

.menu{
    left: 0%;
    top: 100vh;
    right: 0%;
    bottom: 0%;
    height: 100vh;
    transform: translate3d(0px, 0vh, 0px);
    display: none;
    margin-right: auto;
    margin-left: auto;
    padding: 130px, 61px, 61px;
    justify-content: space-around;
    background-color: #1d1d1d;
    transition: 1s;
}

.menu.open{
    position: fixed;
    transform: translate3d(0px, -100vh, 0px);
    display: block;
    transition: 1s;
    z-index: 100;
}

.menu-links{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-right: 10vw;
    margin-left: auto;
    margin-top: 5vh;
}

.menu-link{
    font-size: 4vw;
    color: rgb(71, 71, 71);
    text-align: right;
    line-height: 25px;
}
.menu-active-link{
    font-size: 4vw;
    text-align: right;
    line-height: 25px;
    color: white;
}

.menu-link:hover{
    color: white;
    cursor: pointer;
    transition: .6s;
}

.menu-active-link:hover{
    cursor: pointer;
    transition: .6s;
}


/*Menu Animation*/

.menu-btn.open .menu-btn_burger{
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(32px, -32px);
    width: 40px;
    height: 2.5px;
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(25px, 25px);
    width: 40px;
    height: 2.5px;
}


.menu-info{
    display: flex;
    width: 21vw;
    margin-bottom: 4vw;
    flex-direction: column;
}

.menu-email{
    margin-bottom: 1vw;
    border-bottom-style: none;
    border-bottom-width: 0px;
    display: inline-block;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
    position: fixed;
}

.menu-email:hover{
    color: #7e7e7e;
    text-decoration: none;
    outline: 0;
}

.menu-address{
    margin-bottom: 4vw;
    color: #7e7e7e;
    max-width: 100%;
    display: inline-block;
    transition: .4s ease;
    letter-spacing: 3px;
    text-decoration: none;
    position: fixed;
    font-size: 1vw;
    line-height: 1.6vw;
    letter-spacing: 1px;
    font-weight: bold;
}

.menu-address:hover{
    color: #fff;
    text-decoration: none;
    outline: 0;
}

/*Links to socials*/
.social{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 50;
    width: 3vw;
    height: 11vw;
    min-height: 10vw;
    margin-bottom: 5vw;
    justify-content: space-between;
}

.socials-link{
    position: relative;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 60;
    display: flex;
    width: 7vw;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #7e7e7e;
    font-size: 1vw;
    letter-spacing: 1px;
    transition: .4s ease;
    text-decoration: none;
    background-color: transparent;
}

.socials-link:hover{
    transform: translate(-4vw, 0px);
    color: #7e7e7e;
    letter-spacing: 1px;
    text-decoration: none;
}

.socialhover{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.socialhover:hover{
    opacity: 1;
}


.socials-link-real{
    position: relative;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 60;
    display: flex;
    width: 10vw;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #7e7e7e;
    font-size: 1vw;
    letter-spacing: 1px;
    transition: .4s ease;
    text-decoration: none;
    background-color: transparent;
}

.socials-link-real:hover{
    transform: translate(-6vw, 0px);
    color: #7e7e7e;
    letter-spacing: 1px;
    text-decoration: none;
}

.socialhover-real{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.socialhover-real:hover{
    opacity: 1;
}

h1{
    font-size: 25;
    margin: 0 20px;
    font-weight: normal;
}

.firstpagetext{
    
    text-align: center;
    margin: 7vw auto 0;
    max-width: 55%; 
}

.homelinks{
    display: flex;
    justify-content: center;
}

.ourwork{
    font-size: 1.5vw;
    margin-right: 4vh;
    border-bottom: 2px solid red;
    color: red;
    letter-spacing: 1px;
    transition: .5s;
}

.book{
    font-size: 1.5vw;
    margin-left: 4vh;
    border-bottom: 2px solid;
    transition: .5s;
}

.ourwork:hover{
    transition: 1.5s;
    margin-bottom: 5px;
    cursor: pointer;
}

.book:hover{
    transition: 1.5s;
    margin-bottom: 5px;
    cursor: pointer;
}


/*Second Page (Video)*/
.secondpage{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}


/*Third Page*/
.thirdpage {
    height: 160vh;
}

.thirdpage-text{
    max-width: 35vw;
    margin-left: 11vw;
}

.ourgoal{
    font-size: 3.5vw;
}

.ourgoal-equation{
    margin-left: 11vw;
    font-size: 3.5vw;
    max-width: 45vw;
}


/*Fourth Page*/
.fourthpage{
    background-color: black;
}

.fourth-title{
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    padding: 256px 0px 74px 0px;
}

.client-title{
    color: white;
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 86px;
    font-weight: 100;
}

.client-title span{
    color: gray;
}


.first-client-div{
    height: 40vw;
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9vw;
    display: flex;
    flex-direction: column;
}

.first-client{
    width: 39vw;
    font-size: 18px;
    line-height: 29px;
}



.second-client-div{
    display: flex;
    width: 77vw;
    height: 40vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9vw;
    flex-direction: column;
    align-items: flex-end;
}

.second-client{
    width: 39vw;
    font-size: 18px;
    line-height: 29px;
}


.third-client-div{
margin-bottom: 0vw;
align-items: center;
display: flex;
flex-direction: column;
width: 77vw;
height: 40vw;
margin-right: auto;
margin-left: auto;
}

.third-client{
width: 39vw;
font-size: 18px;
line-height: 29px;
}


.person{
color: white;
}


.client-picture{
    width: 4vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profile-pic{
    flex: 0 auto;
    margin-right: 11px;
    border-radius: 50%;
}

img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.client-car{
    margin-top: 11px;
    font-weight: 300;
    color: #fff;
}

.client-name{
    color: #7e7e7e;
}

.bio-text{
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 2vw;
    line-height: 3vw;
    letter-spacing: .5px;
}


.carheading{
    font-size: 2.5vw;
}

.car-link{
    color: red;
    border-bottom: 1px solid red;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
}


/*Fifth Page*/
.car-main{
    position: relative;
    display: block;
    overflow: hidden;
    height: 44vw;
}

.overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    display: flex;
    overflow: visible;
    transition: all .6s ease-in-out;
    background-color: rgba(14,14,14,0.45);
}

.overlay:hover{
    transition: all .6s ease-in-out;
    background-color: rgba(14, 14, 14, .7);
}

.car-info{
    display: flex;
    width: 77vw;
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
}

.car-info p{
    text-align: left;
    font-size: 1.3vw;
    letter-spacing: 1px;
    margin-bottom: 1vw;
    width: 37vw;
    overflow: visible;
    line-height: 2.4vw;
    font-weight: 300;
    margin-top: 0;
    color: white;
}

.car-info h2{
    width: 30vw;
    margin-bottom: 86px;
    color: white;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 300;
    margin-top: 20px;
    padding-top: 0;

}

.car-info a{
    color: white;
    border-bottom: 1px white solid;
    font-size: 1vw;
    text-decoration: none;
    background-color: transparent;
    line-height: 20px;
    transition: 2s;

    
}.car-info a:hover{
    line-height: 40px;
    cursor: pointer;
}


/*Brands title*/

.clients-section{
    margin-bottom: 25.4vw;
}

.clients-centered{
    width: 40vw;
    justify-content: center;
    display: flex;
    margin: 9.5vw auto 7vw;
}

.clients-heading{
    font-size: 4vw;
    line-height: 5vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 0px;
    color: #989898;
}

.clients-span{
    color: #2b2b2b;
}

/*Brands grid*/

.quote-div{
    display: grid;
    width: 77vw;
    margin: 7.2vw auto 100px;
    padding-top: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 148px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.quote-grid{
    display: flex;
    padding: 0px;
    justify-content: center;
}



.services-section{
    padding-top: 15vw;
    padding-bottom: 15vw;
    background-color: #1d1d1d;
}


.services-contain{
    display: flex;
    width: 77vw;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-end;
}

.services-text{
    width: 30vw;
}

/*Using an id for the same styling on all services*/
#service-description{
    position: absolute;
    width: 19vw;
    margin-top: 25vw;
    color: #d3d3d3;
    font-size: 1vw;
    line-height: 2vw;
}

.service-description{
    position: absolute;
    width: 19vw;
    margin-top: 25vw;
    color: #d3d3d3;
    font-size: 1vw;
    line-height: 2vw;
}


.services-headings{
    width: 40vw;
}

.services-title{
    opacity: 1;
    width: 37vw;
    margin-bottom: 86px;
    color: #fff;
    font-size: 4vw;
    line-height: 5vw;

}

.services-title-span{
margin-top: 46px;
margin-bottom: 0px;
color: #7e7e7e;
font-size: 4vw;
line-height: 5vw;
}

.services-names{
    margin-bottom: 3vw;
    transition: .2s ease;
    color: #7e7e7e;
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 0px;
}

.services-names:hover{
color: #fff;
}



.owner-section{
    margin-top: 28.6px;
}

.owner-block{
    display: flex;
    width: 77vw;
    margin: 9.5vw auto 7vw;
    justify-content: flex-start;
}


.owner-text{
    display: flex;
    width: 40vw;
    margin-bottom: 0px;
    padding-right: 3.5vw;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-self: flex-start;
}

/*Title on the owner page*/
.owner-title{
    margin-bottom: 0px;
    font-size: 4vw;
    line-height: 5vw;
    margin-top: 20px;
    padding-top: 0px;
    color: #989898;
}

.owner-title-span{
    color: #1d1d1d;
    font-size: 4vw;
    line-height: 5vw;
}

/*Owners name below title*/
.owner-name{
    font-size: 1.5vw;
    line-height: 2.5vw;
    margin-top: 46px;
    margin-bottom: 0px;
    color: #7e7e7e;
}

/*Paragraph about the owner below the owners name*/
.owner-paragraph{
margin-bottom: 1vw;
margin-top: 0px;
text-align: left;
overflow: visible;
width: 37vw;
color: #696969;
font-size: 1.4vw;
line-height: 2.4vw;
}

.owner-link-div{
    align-self: flex-start;
}

.owner-link{
    position: relative;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: stretch;
    border-bottom: 1px solid #eb364c;
    color: #eb364c;
    line-height: 30px;
    transition: .5s ease;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
}

.owner-link:hover{
    line-height: 40px;
    transition: .5s ease;
}


/*A picture of the owner that sits beside the information about the owner*/
.owner-picture-div{
    max-width: 50vw;
}

.owner-picture{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}


/*Footer of the webpage*/

.footer-div{
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0vw;
    padding-top: 5vw;
    flex-direction: column;
    background-color: #1d1d1d;
    z-index: 100;
}

.footer-wrapper{
    position: static;
    display: flex;
    width: 92vw;
    height: auto;
    max-height: none;
    min-height: auto;
    margin-right: auto;
    margin-bottom: 0vw;
    margin-left: auto;
    padding-top: 40px;
    flex-direction: column;
    justify-content: flex-start;
}

/*Title at the top of the footer*/
.footer-talk{
    margin-bottom: 5.5vw;
}

.footer-title{
    margin-top: 1px;
    margin-bottom: 41px;
    font-size: 4vw;
    line-height: 5vw;
    color: #989898;
}

.footer-title-span{
    color: #fff;
}

/*A grid to display the information in the footer*/
.footer-info{
    display: grid;
    margin-bottom: 30px;
    grid-auto-columns: 1fr;
    grid-column-gap: 51px;
    grid-row-gap: 16px;
    grid-template-columns: 1.75fr 1.5fr 1.25fr;
    grid-template-rows: auto;
}

/*Displays the business address in the footer*/
.footer-address{
    align-self: end;
    justify-self: start;
    display: flex;
    flex-direction: column;
}

.footer-address-link{
    color: #7e7e7e;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
}

.footer-address-text{
    display: flex;
    flex-direction: column;
    color: #7e7e7e;
    font-size: 1vw;
    line-height: 1.6vw;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: transparent;
}

.footer-address-text:hover{
    color: #b8b8b8;
    text-decoration: none;
}

.footer-email{
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 1vw;
    line-height: 1.6vw;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .5s ease;
}

.footer-email:hover{
    color: #7e7e7e;
    text-decoration: none;
}

.footer-joinus{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-the-team{
    margin-bottom: 10px;
    height: 5vw;
    margin-top: 0px;
    color: #fff;
    font-size: 1.8vw;
    line-height: 2.6vw;
}

.join-team-text{
    margin-top: 0px;
    line-height: 1.6vw;
    font-size: 1vw;
    margin-bottom: 0px;
    color: #7e7e7e;
    font-weight: bold;
}

.email-join{
    width: auto;
    margin-top: 36px;
    margin-bottom: 1px;
    align-self: flex-start;
    border-bottom: 1px solid #eb364c;
    letter-spacing: 1px;
    color: #eb364c;
    transition: .5s ease;
    text-decoration: none;
    font-weight: bold;
}


.footer-links{
    align-self: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-active-link{
    height: 2vw;
    margin-top: 7px;
    padding-bottom: 0px;
    align-self: flex-start;
    border-bottom: 1px solid #7e7e7e;
    color: #7e7e7e;
    font-size: 1.8vw;
    line-height: 2.6vw;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: bold;
}

.footer-page-link{
    height: 2vw;
    margin-top: 7px;
    padding-bottom: 0px;
    align-self: flex-start;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.8vw;
    line-height: 2.6vw;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s ease;
}

.footer-page-link:hover{
    color: #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
    letter-spacing: 0px;
    text-decoration: none;
}

.footer-bottom{
    display: flex;
    height: 100px;
    margin: 5vw -2vw 0vw;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: flex-end;
}

/*Logo in the bottom left of the footer*/
.footer-logo{
    align-self: flex-end;
    color: #7e7e7e;
    font-size: 1vw;
    letter-spacing: 1px;
    transition: .5s ease;
    text-decoration: none;
    font-weight: bold;
}

.footer-logo:hover{
    color: #fff;
    text-decoration: none;
}

.footer-tnc{
    align-self: flex-end;
    color: #7e7e7e;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s ease;
    text-decoration: none;
}

.footer-tnc:hover{
    color: #fff;
    text-decoration: none;
}