body{
    margin: 0;
    padding: 0;
    z-index: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.firstpage{
    height: 100vh;
    background-color: white;
}

.title{
    z-index: 15;
    font-size: 3.5vh;
    margin-top: 2vw;
    margin-left: 3vw;
    position: fixed;
    color:gray;
}

h1{
    font-size: 4vw; 
    color:gray;
    font-weight: normal;
}

.menu-btn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 94vw;
    padding-top: 20px;
    z-index: 11;
}

.menu-btn_burger{
    width: 40px;
    height: 2.5px;
    background: gray;
    transition: all .3s ease-in-out;
    color: gray;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    height: 2.5px;
    background: gray;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-10px);
    width: 20px;
    text-align: right;
}

.menu-btn_burger::after{
    transform: translateY(10px);
    width: 20px;
    margin-left: 25%;
}

.menu{
    background-color: black;
    transition: .5s;
    visibility: hidden;
    height: 0%;
}

.menu.open{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    visibility: visible;
    position: fixed;
    z-index: 100;
    transition: 1s;
}

.menu-links{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-right: 10vw;
    margin-left: auto;
    margin-top: 5vh;
}

.menu-link{
    font-size: 4vw;
    color: rgb(71, 71, 71);
    text-align: right;
    line-height: 25px;
    transition: .6s;
}
.menu-active-link{
    font-size: 4vw;
    text-align: right;
    line-height: 25px;
    color: white;
    transition: .6s;
}

.menu-link:hover{
    color: white;
    cursor: pointer;
    transition: .6s;
}

.menu-active-link:hover{
    cursor: pointer;
    transition: .6s;
}


/*Menu Animation*/

.menu-btn.open .menu-btn_burger{
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(32px, -32px);
    width: 40px;
    height: 2.5px;
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(25px, 25px);
    width: 40px;
    height: 2.5px;
}

h1{
    font-size: 25;
    margin: 0 20px;
    font-weight: normal;
}

.firstpagetext{
    
    text-align: center;
    margin: 7vw auto 0;
    max-width: 55%; 
}

.homelinks{
    display: flex;
    justify-content: center;
}

.ourwork{
    font-size: 1.5vw;
    margin-right: 4vh;
    border-bottom: 2px solid red;
    color: red;
    letter-spacing: 1px;
    transition: .5s;
}

.book{
    font-size: 1.5vw;
    margin-left: 4vh;
    border-bottom: 2px solid;
    transition: .5s;
}

.ourwork:hover{
    transition: 1.5s;
    margin-bottom: 5px;
}

.book:hover{
    transition: 1.5s;
    margin-bottom: 5px;
}


/*Second Page (Video)*/
.secondpage{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}


/*Third Page*/
.thirdpage {
    height: 160vh;
}

.thirdpage-text{
    max-width: 35vw;
    margin-left: 11vw;
}

.ourgoal{
    font-size: 3.5vw;
}

.ourgoal-equation{
    margin-left: 11vw;
    font-size: 3.5vw;
    max-width: 45vw;
}


/*Fourth Page*/
.fourthpage{
    background-color: black;
}

.fourth-title{
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    padding: 256px 0px 74px 0px;
}

.client-title{
    color: white;
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 86px;
    font-weight: 100;
}

.client-title span{
    color: gray;
}


.first-client-div{
    height: 40vw;
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9vw;
    display: flex;
    flex-direction: column;
}

.first-client{
    width: 39vw;
    font-size: 18px;
    line-height: 29px;
}



.second-client-div{
    display: flex;
    width: 77vw;
    height: 40vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9vw;
    flex-direction: column;
    align-items: flex-end;
}

.second-client{
    width: 39vw;
    font-size: 18px;
    line-height: 29px;
}


.third-client-div{
margin-bottom: 0vw;
align-items: center;
display: flex;
flex-direction: column;
width: 77vw;
height: 40vw;
margin-right: auto;
margin-left: auto;
}

.third-client{
width: 39vw;
font-size: 18px;
line-height: 29px;
}


.person{
color: white;
}


.client-picture{
    width: 4vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profile-pic{
    flex: 0 auto;
    margin-right: 11px;
    border-radius: 50%;
}

img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.client-car{
    margin-top: 11px;
    font-weight: 300;
    color: #fff;
}

.client-name{
    color: #7e7e7e;
}

.bio-text{
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 2vw;
    line-height: 3vw;
    letter-spacing: .5px;
}


.carheading{
    font-size: 2.5vw;
}

.car-link{
    color: red;
    border-bottom: 1px solid red;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
}


/*Fifth Page*/
.car-main{
    position: relative;
    display: block;
    overflow: hidden;
    height: 44vw;
}

.overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    display: flex;
    overflow: visible;
    transition: all .6s ease-in-out;
    background-color: rgba(14,14,14,0.45);
}

.overlay:hover{
    transition: all .6s ease-in-out;
    background-color: rgba(14, 14, 14, .7);
}

.car-info{
    display: flex;
    width: 77vw;
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
}

.car-info p{
    text-align: left;
    font-size: 1.3vw;
    letter-spacing: 1px;
    margin-bottom: 1vw;
    width: 37vw;
    overflow: visible;
    line-height: 2.4vw;
    font-weight: 300;
    margin-top: 0;
    color: white;
}

.car-info h2{
    width: 30vw;
    margin-bottom: 86px;
    color: white;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 300;
    margin-top: 20px;
    padding-top: 0;

}

.car-info a{
    color: white;
    border-bottom: 1px white solid;
    font-size: 1vw;
    text-decoration: none;
    background-color: transparent;
    line-height: 20px;
    transition: 2s;

}.car-info a:hover{
    line-height: 40px;
}

