body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Optima', serif;
}

.firstpage{
    height: 100vh;
    background-color: white;
}

.title{
    font-size: 3.5vh;
    margin-top: 2vw;
    margin-left: 3vw;
    position: fixed;
    color:gray;
}

h1{
    font-size: 7vh; 
    color:gray;
    font-weight: normal;
}

.menu-btn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 94vw;
    padding-top: 20px;
}

.menu-btn_burger{
    width: 40px;
    height: 2.5px;
    background: gray;
    transition: all .3s ease-in-out;
    color: gray;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    height: 2.5px;
    background: gray;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-10px);
    width: 20px;
    text-align: right;
}

.menu-btn_burger::after{
    transform: translateY(10px);
    width: 20px;
    margin-left: 25%;
}


/*Menu Animation*/

.menu-btn.open .menu-btn_burger{
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(32px, -32px);
    width: 40px;
    height: 2.5px;
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(25px, 25px);
    width: 40px;
    height: 2.5px;
}

h1{
    font-size: 25;
    margin: 0 20px;
    font-weight: normal;
}

.firstpagetext{
    
    text-align: center;
    margin: 7vw auto 5vw;
    max-width: 55%;
}

.homelinks{
    display: flex;
    margin-top: 8vw;
    justify-content: center;
}

.ourwork{
    font-size: 1.5vw;
    margin-right: 4vh;
    text-align: right;
    border-bottom: 2px solid red;
    color: red;
}

.book{
    font-size: 1.5vw;
    margin-left: 4vh;
    border-bottom: 2px solid;
}


/*Second Page (Video)*/
.secondpage{
    height: 100vh;
    width: 99vw;
    background-color: black;
}


/*Third Page*/
.thirdpage{
    height: 160vh;
}

.thirdpage-text{
    max-width: 35vw;
    margin-left: 11vw;
}

.ourgoal{
    font-size: 3.5vw;
}

.ourgoal-equation{
    margin-left: 11vw;
    font-size: 3.5vw;
    max-width: 45vw;
}


/*Fourth Page*/
.fourthpage{
    height: 300vh;
    background-color: black;
}

.client-title{
    color: gray;
    font-size: 4vw;
    max-width: 25vw;
    font-weight: normal;
    margin-left: 11vw;
}