body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', thin  serif;
}

.firstpage{
    height: 100vh;
    background-color: white;
}

.title{
    font-size: 3.5vh;
    margin-top: 2vw;
    margin-left: 3vw;
    position: fixed;
    color:gray;
}

h1{
    font-size: 7vh; 
    color:gray;
}

.menu-btn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-left: 94vw;
}

.menu-btn_burger{
    width: 40px;
    height: 2.5px;
    background: black;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    height: 2.5px;
    background: black;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-10px);
    width: 20px;
    text-align: right;
}

.menu-btn_burger::after{
    transform: translateY(10px);
    width: 20px;
    margin-left: 25%;
}


/*Menu Animation*/

.menu-btn.open .menu-btn_burger{
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(25px, -25px);
    width: 40px;
    height: 2.5px;
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(25px, 25px);
    width: 40px;
    height: 2.5px;
}

h1{
    font-size: 25;
    margin: 0 20px;
}

.firstpagetext{
    
    text-align: center;
    margin: 7vw auto 5vw;
    max-width: 55%;
}

.homelinks{
    display: flex;
    margin-top: 8vw;
    justify-content: center;
}

.ourwork{
    font-size: 1.5vw;
    margin-right: 4vh;
    text-align: right;
    border-bottom: 2px solid red;
    color: red;
}

.book{
    font-size: 1.5vw;
    margin-left: 4vh;
    border-bottom: 2px solid;
}


.secondpage{
    height: 100vh;
    width: 99vw;
    background-color: black;
}


/*Third Page*/
.thirdpage{
    height: 200vh;
}

.thirdpage-text{
    max-width: 35vw;
    margin-left: 11vw;
}

.ourgoal{
    font-size: 3.5vw;
}

.ourgoal-equation{
    margin-left: 11vw;
    font-size: 3.5vw;
    max-width: 45vw;
}